# Database Configuration
MS_SQL_DB_SERVER="MS SQL DB SERVER"
SA_PASSWORD="SA PASSWORD"
DB_USER="DB USER"
DB_NAME="DB NAME"

# Redis Configuration
# Default is localhost:6379
# Can be null if not used
REDIS_CONNECTION_STRING=

# Database Docker Configuration
DOCKER_USER_VALUE='DOCKER USER VALUE'
DOCKER_DB_PASSWD='DOCKER DB PASSWORD'

# === JWT SETTINGS ===
JWT_SECRET_KEY=super_secret_key_change_me_1234567890
JWT_ISSUER=StreetCode.Api
JWT_AUDIENCE=StreetCode.Client

# minutes
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15

# minutes (7 days = 7 * 24 * 60)
JWT_REFRESH_TOKEN_EXPIRATION_MINUTES=10080

# true для prod, false для local http
JWT_REQUIRE_HTTPS_METADATA=false